.btn{
    -fx-background-color: #EBE8F9;
}
.btn:hover{
    -fx-background-color: #BFCDE1;
}
.btn:pressed{
    -fx-background-color: #EBE8F9;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background
{
    -fx-background-color: red;
}


.table-view .column-header, .filter
{
    -fx-background-color: #2a73ff;
    -fx-text-fill: #fff;
}

.table-view .column-header .label
{
    -fx-background-color: #2a73ff;
    -fx-text-fill: #fff;
}
